[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = git://github.com/jasonthomas/puppetlabs-rabbitmq.git
